*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    color: white;
    background-color:#2a2a40 ;
}
h1{
    width: 100%;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 40px 0;
}
.App{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contenedorPrincipal{
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}